.DS*
*/.DS*
*/*/.DS*
*/*/*/.DS*
*/*/*/*/.DS*
*/*/*/*/*/.DS*
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__
*.npy
*.pth
*.npz
*.py[cod]
*.pt
*.ckpt
data/**/*.zip
data/**/*.png
data/**/*.txt
!data/demo/*